<section class="footer-social">
    <a href="http://twitter.com/username" target="_blank" title="Twitter"><i class="fa fa-2x fa-fw fa-twitter"></i> <span class="hidden">Twitter</span></a>&nbsp;
    <a href="https://github.com/username" target="_blank" title="GitHub"><i class="fa fa-2x fa-fw fa-github"></i> <span class="hidden">GitHub</span></a>&nbsp;
    <a href="{{feed_url}}" target="_blank" title="RSS"><i class="fa fa-2x fa-fw fa-rss"></i> <span class="hidden">RSS</span></a>
    <a href="{{search_url}}" title="Search"><i class="fa fa-2x fa-fw fa-search"></i> <span class="hidden">Search</span></a>
</section>
