{{#navigation}}
    <nav class="menu" role="nav">
        <ul>
            {{#each items}}
                <li class="nav-{{slug}}{{#if current}} nav-current{{/if}}">
                    <a href="{{url link}}">{{label}}</a>
                </li>
            {{/each}}
        </ul>
    </nav>
{{/navigation}}