{{!-- The tag below includes the header - partials/header.hbs --}}
{{> header}}

<main class="content" role="main">

    {{> loop}}

    {{> pagination}}

</main>

{{!-- The tag below includes the footer - partials/footer.hbs --}}
{{> footer}}