{{!-- The tag below includes the header - partials/header.hbs --}}
{{> header}}

<main class="content" role="main">

    <h3 class="posts-tagged">
        <i class="fa fa-fw fa-search"></i>
        {{#if query}}
            {{query}}
        {{else}}
            Search
        {{/if}}
    </h3>

    <form class="search-form" action="{{search_url}}" method="GET">
        <input type="search" name="s" placeholder="Search">
        <button type="submit">Go</button>
    </form>

    {{#if query}}
        {{> loop}}
        {{> pagination}}
    {{/if}}

</main>

{{!-- The tag below includes the header - partials/footer.hbs --}}
{{> footer}}